body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-image: url("img/pokemonbackground2.jpeg");
  background-repeat: no-repeat;
  background-size:cover;
  
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows:
    1fr
    1fr
    1fr;
    grid-template-areas: 
    'nav'
    'main'
    'footer';
}